.btn {
  border-radius: 20px !important;
  padding: 10px 17px !important;
  font-weight: 600;
  transition: all 300ms;
  font-size: 12px;

  &:hover {
    background-color: #00ffe0 !important;
    border: 1px solid #00ffe0 !important;
    color: #fff !important;
  }

  &:focus {
    box-shadow: none !important;
    outline: 0 !important;
  }

  &.btn-clear {
    border-radius: 0.25rem !important;

    &.input-group-text {
      margin-left: -1px !important;
      border-top-left-radius: 0 !important;
      border-bottom-left-radius: 0 !important;
    }
  }
}

.btn-landing-primary {
  background-color: #603ce6 !important;
  border: 1px solid #603ce6 !important;
  color: #FFF !important;
}

.btn-primary {
  background-color: #1D98D1 !important;
  border: 1px solid #1D98D1 !important;
}


.btn-primary-suscribe {
  background-color: #603ce6 !important;
  border: 1px solid #DEDEDF !important;
  color: #DEDEDF !important;
}

.btn-primary-contact {
  color: #000000 !important;
}

.btn-primary-orange {
  background-color: #F28C02 !important;
  border: 1px solid#F28C02 !important;
  color: #DEDEDF !important;

}

.btn-back {
  font-weight: 600;
  transition: all 300ms;
  font-size: 12px;
  border: none;
  color: #ACACAC;
  background-color: transparent;
  &:hover {
    
    color: #00ffe0 !important;
  }


}

.btn-outline-primary {
  color: #1D98D1 !important;
  background: transparent !important;
  border: 1px solid #1D98D1 !important;
}

.btn-outline-landing-primary {
  color: #603CE6 !important;
  background: transparent !important;
  border: 1px solid #603CE6 !important;
}

.btn-outline-add {
  color: #FF9300 !important;
  background: transparent !important;
  border: 1px solid #FF9300 !important;
}



.swal2-styled:hover {
  background: none !important;
}

.btn-success-primary {
  background-color: #1d98d1 !important;
  border: 1px solid#1d98d1 !important;
  color: #fff !important;

  &:hover {
    background-color: #00ffe0 !important;
    border: 1px solid #00ffe0 !important;
  }

}


.btn-cancel-primary {
  background-color: #fff !important;
  color: #505050 !important;
  font-family: 'Montserrat-Medium';

  &:hover {
    background-color: #fff !important;
    border: none !important;
    color: #00ffe0 !important;
  }
}


.btn-cupos-primary {
  background-color: #fff;
  color: #FF9300;
  border: none;
  font-family: 'Montserrat-Bold' !important;

  &:hover {
    background-color: #fff;

    color: #00ffe0;
  }
}


.btn-dimension-active {
  background-color: #5818FF !important;
  color: #fff !important;

}

// .btn:disabled {
//   background-color: #E2E2E2 !important;
//   border-color:  #E2E2E2 !important;
//   opacity: 100;
// }



