// .ant-tabs > .ant-tabs-nav .ant-tabs-nav-wrap{
//  background-color: #1D98D1;
// }

// .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
//     color: white;
// }




.State-postulation-info{
    font-family: 'Montserrat-SemiBold' !important;
    color: #000;
}

// .ant-switch{
//     margin-right: 3%!important;
// }

// .state-revisate-postulations-info{
//     margin-right: 3%!important;
// }
//     .ant-modal-content{
//         background-color: transparent !important;
//     }