
[*]
indent_style = space
indent_size = 4
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true
quote_type = single
end_of_line = lf

[*.{tsx, jsx}]
max_line_length = 120
quote_type = single

[*.{js, ts}]
quote_type = single

[*.json]
insert_final_newline = ignore

[*.md]
trim_trailing_whitespace = false
